*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  width: 100vw;
}

.LogForm{
  margin: 1em;
}
.bottomnav{
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-content: space-evenly;
}

.item-1{
  grid-column: 1/2;
}
.item-2{
  grid-column: 1/2;
}
.item-3{
  grid-column: 2/3;
}

.reg-h1{
  margin-top: 1em;
  text-align: center;
}
.reg-h2{
  margin: auto;
  padding-top: 1.5em;
  text-align: center;
  font-size: 1.5em;
}

.log-h1{
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

.form-5 > button{
  margin-left: 1em;
  margin-top: .5em;
  margin-bottom: 1em;
  width: 100px;
}

.nav-button{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.3em;
}

.nav-button:hover{
  color: whitesmoke;
}
.nav-div{
  position:absolute; 
  top: .2em;
  right:0;
}
.top-bar{
  height: 2.5em;
}

.task-title{
  grid-column: 1/3;
  grid-row: 1/2;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.list-button{
  width: 220px;
  margin-bottom: 1em;
}

.taskList{
  margin-left: 2em;
  width: 220px;
}

.bottom-button{
  margin: .2em;
}

.median-button{
  margin: .2em;
}

.tasks-ul{
  list-style-type: none;
  background: #333333;
}
.task-button{
margin-top: .1em;
margin-bottom: .1em;
margin-left: .2em;
padding: .2em;
border-radius: 5px;
box-shadow: none;
}

.task-button:hover{
  background: darkgrey;
}

.task-active{
  border-radius: 5px;
  font-size: 1.8em;
  padding: .4em;
  background-color: #1873cc;
  color: whitesmoke; 
  margin: .5em;
}

.task-active:hover{
  background-color: #125699;
}

.stopwatch-display{
  margin: .3em;
  font-weight: bold;
  font-size: 1.8em;
  color: whitesmoke;
}
.check-button{
  font-size: 1.5em;
  padding-left: .3em;
  padding-right: .3em;
  margin: .3em;
  color: green;
  border-radius: 5px;
}
.check-button:hover{
  background-color: darkgray;
}

.play-pause{
  font-size: 1.5em;
  padding-left: .3em;
  padding-right: .3em;
  margin: .3em;
  color: #1873CC;
  border-radius: 5px;
}
.play-pause:hover{
  background-color: darkgray;
}

.stop-button{
  font-size: 1.5em;
  padding-left: .3em;
  padding-right: .3em;
  margin: .3em;
  color: red;
  border-radius: 5px;
}
.stop-button:hover{
  background-color: darkgray;
}

.Stopwatch{
  display: inline-block;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  min-width: 350px;
  background-color: #333333;
  border: 2px solid #202020;
  text-align: center;
  margin-top: 1em;
  border-radius: 5px;
}

.Logs{
  display: inline-block;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  min-width: 350px;
  background-color: #333333;
  border: 2px solid #202020;
  text-align: center;
  margin-top: 1em;
  border-radius: 5px;
  color: whitesmoke;
}

.error{
  color: red;
 }



.error:empty:before {
  content: "\00a0";
}

 .middle{
   display: block;
   text-align: center;
   margin-top: 1em;
   margin-bottom: 1em;
 }

.error-input{
  outline: none !important;
  border:1px solid red !important;
  box-shadow: 0 0 10px rgb(206, 113, 113) !important;
}
@media only screen and (min-width: 600px) { 
  .LogForm{
  height: 60vh;
  padding: 2em;
  margin-left: 10vw;
} 

.login-b{
padding-left: 13vw;
}

.login-b button{
  margin: auto;
}

.RegForm{
  height: 80vh;
  padding: 2em;
  margin-left: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  align-content: center;
  justify-content: center;
}

.form-1{
  margin: 1em;
  grid-column: 1/3;
  grid-row: 1/2;
}
.form-2{
  margin: 1em;
  grid-column: 1/3;
  grid-row: 2/3;
}

.form-3{
  margin: 1em;
  grid-column: 3/5;
  grid-row: 1/3;
}
.form-5{
 
  grid-column: 1/3;
  grid-row: 3/4;
  
}
.form-5 > button{
  margin: 2em;
  width: 200px;
}
.tasksGrid{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  align-content: space-evenly;
}

.tasks-div{
  grid-column: 1/5;
  grid-row: 3/8;
  height: 280px; 
  overflow-y: auto;
}

.task-title{
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.Stopwatch{
  margin-top:  0em;
  margin-bottom: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 4em;
  padding-right: 4em;
  min-width: 500px;
}

.Logs{
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
  min-width: 500px;
}

.stopwatch-display{
  font-size: 2.5em;
}

.check-button{
  font-size: 2em;
  margin: .5em;
}

.play-pause{
  font-size: 2em;
  margin:  .5em;
}

.stop-button{
  font-size: 2em;
  margin: .5em;
}
}